<div class="container mt-4">
  <h2>Trophées potentiels jeux PS4/PS5</h2>
  <div class="table-responsive">
    <table class="table table-bordered text-center mb-0">
      <thead>
        <tr>
          <th colspan="2" style="background-color: #008080; color: white; text-align: center;">NIVEAU ACTUEL</th>
          <th style="background-color: #008080; color: white; text-align: center;">PLATINE</th>
          <th style="background-color: #008080; color: white; text-align: center;">OR</th>
          <th style="background-color: #008080; color: white; text-align: center;">ARGENT</th>
          <th style="background-color: #008080; color: white; text-align: center;">BRONZE</th>
          <th style="background-color: #008080; color: white; text-align: center;">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: bold; text-align: center; vertical-align: middle; font-size: 15px;" colspan="2">
            <img src="spritePsnOr.png" alt="icone-trophee" style="width: 30px; height: 30px;">
            {{ niveauActuel }}
          </td>
          <td style="font-weight: bold; text-align: center; vertical-align: middle; font-size: 15px;">
            <img src="platinePsn.png" alt="icone-trophee" style="width: 30px; height: 30px;">
            {{ tropheesActuels.nbPlatine }}
          </td>
          <td style="font-weight: bold; text-align: center; vertical-align: middle; font-size: 15px;">
            <img src="orPsn.png" alt="icone-trophee" style="width: 30px; height: 35px;">
            {{ tropheesActuels.nbOr }}
          </td>
          <td style="font-weight: bold; text-align: center; vertical-align: middle; font-size: 15px;">
            <img src="argentPsn.png" alt="icone-trophee" style="width: 30px; height: 35px;">
            {{ tropheesActuels.nbArgent }}
          </td>
          <td style="font-weight: bold; text-align: center; vertical-align: middle; font-size: 15px;">
            <img src="bronzePsn.png" alt="icone-trophee" style="width: 28px; height: 35px;">
            {{ tropheesActuels.nbBronze }}
          </td>
          <td style="font-weight: bold; text-align: center; vertical-align: middle; font-size: 15px;">
            {{ tropheesActuels.total }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex align-items-start mt-3">

    <app-boutons-navigation></app-boutons-navigation>

    @if (jeuxList.length > 0) {
      <!-- Tableau à droite -->
      <div class="flex-grow-1">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="background-color: #008080; color: white; text-align: center;">Jeu</th>
              <th style="background-color: #008080; color: white; text-align: center;">Plateforme</th>
              <th style="background-color: #008080; color: white; text-align: center;">Action</th>
              <th style="background-color: #008080; color: white; text-align: center;">Heures</th>
              <th style="background-color: #008080; color: white; text-align: center;">Platine</th>
              <th style="background-color: #008080; color: white; text-align: center;">Or</th>
              <th style="background-color: #008080; color: white; text-align: center;">Argent</th>
              <th style="background-color: #008080; color: white; text-align: center;">Bronze</th>
              <th style="background-color: #008080; color: white; text-align: center;">Total</th>
            </tr>
          </thead>
          <tbody>
            @for (jp of jeuxList; track $index) {
              <tr>
                <td style="background-color: #008080; color: white;">{{ jp.jeu }}</td>
                <td>{{ jp.plateforme.plateforme }}</td>
                <td>
                  <button class="update" (click)="openJeuModal(jp)">
                    <i class="fa-solid fa-pen-nib"></i>
                  </button>
                  <button class="delete">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
                <td>{{ jp.nbHeures }}</td>
                <td>{{ jp.nbPlatine }}</td>
                <td>{{ jp.nbOr }}</td>
                <td>{{ jp.nbArgent }}</td>
                <td>{{ jp.nbBronze }}</td>
                <td>{{ calculateTotal(jp) }}</td>
              </tr>
            }
            @if (currentPage === pageNumbers.length) {
              <tr style="font-weight: bold;">
                <td colspan="3" style="background-color: #008080; color: white; text-align: center;">Total</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ calculateTotalHeures() }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ calculateTotalPlatine() }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ calculateTotalOr() }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ calculateTotalArgent() }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ calculateTotalBronze() }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ calculateTotalTrophees() }}</td>
              </tr>
              <tr style="font-weight: bold;">
                <td colspan="4" style="background-color: #008080; color: white; text-align: center;">Total Actuel</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ tropheesActuels.nbPlatine }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ tropheesActuels.nbOr }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ tropheesActuels.nbArgent }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ tropheesActuels.nbBronze }}</td>
                <td style="background-color: #008080; color: white; text-align: center;">{{ tropheesActuels.total }}</td>
              </tr>
              <tr style="font-weight: bold;">
                <td colspan="4" style="background-color: #008080; color: white; text-align: center;">
                  Total Potentiel
                </td>
                <td style="background-color: #008080; color: white; text-align: center;">
                  {{ getTotalCumulTrophees().platine }}
                </td>
                <td style="background-color: #008080; color: white; text-align: center;">
                  {{ getTotalCumulTrophees().or }}
                </td>
                <td style="background-color: #008080; color: white; text-align: center;">
                  {{ getTotalCumulTrophees().argent }}
                </td>
                <td style="background-color: #008080; color: white; text-align: center;">
                  {{ getTotalCumulTrophees().bronze }}
                </td>
                <td style="background-color: #008080; color: white; text-align: center;">
                  {{ getTotalCumulTrophees().total }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>

  <div style="display: flex; justify-content: center; margin-top: 15px;">
    <button class="btn add" (click)="openAddModal()">Ajouter</button>
  </div>

  @if (allJeuxList.length > 5) {
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="pageNumbers.length"
      (pageChange)="goToPage($event)"
    ></app-pagination>
  }

  @if (isAddModalOpen) {
    <div class="modal">
      <div class="modal-overlay">
        <app-jeux-plateforme-form
          (close)="closeModal()"
          (jeuCree)="refresh()"
        ></app-jeux-plateforme-form>
      </div>
    </div>
  }

  @if (isJeuModalOpen) {
    <div class="modal">
      <div class="modal-content">
        <h2>Modifier le jeu</h2>
        <form
          (ngSubmit)="updateJeu()"
          style="display: flex; flex-direction: column; gap: 1rem"
        >
          <div>
            <label for="jeu">Jeu</label>
            <input
              type="string"
              id="jeu"
              [(ngModel)]="selectedJeuForEdit!.jeu"
              name="jeu"
              disabled
            />
          </div>
          <div>
            <label for="plateforme">Plateforme</label>
            <select
              id="plateforme"
              name="plateforme"
              [(ngModel)]="selectedJeuForEdit!.plateforme"
              [ngModelOptions]="{ standalone: true }"
              required
            >
              @for (p of plateformes; track $index) {
                <option [ngValue]="p">
                  {{ p.plateforme }}
                </option>
              }
            </select>
          </div>
          <div>
            <label for="nbPlatine">Platine</label>
            <input
              type="number"
              id="nbPlatine"
              [(ngModel)]="selectedJeuForEdit!.nbPlatine"
              name="nbPlatine"
              disabled
            />
          </div>
          <div>
            <label for="nbOr">Or</label>
            <input
              type="number"
              id="nbOr"
              [(ngModel)]="selectedJeuForEdit!.nbOr"
              name="nbOr"
            />
          </div>
          <div>
            <label for="nbArgent">Argent</label>
            <input
              type="number"
              id="nbArgent"
              [(ngModel)]="selectedJeuForEdit!.nbArgent"
              name="nbArgent"
            />
          </div>
          <div>
            <label for="nbBronze">Bronze</label>
            <input
              type="number"
              id="nbBronze"
              [(ngModel)]="selectedJeuForEdit!.nbBronze"
              name="nbBronze"
            />
          </div>
          <div>
            <label for="nbHeures">Heures de jeu estimées</label>
            <input
              type="number"
              id="nbHeures"
              [(ngModel)]="selectedJeuForEdit!.nbHeures"
              name="nbHeures"
            />
          </div>
          <div style="text-align: center; margin-top: 1rem">
            <button class="button" type="submit">Mettre à jour</button>
            <button class="delBtn" type="button" (click)="closeModal()">
              Fermer
            </button>
          </div>
        </form>
      </div>
    </div>
  }

</div>
